* {
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  background-color: #FAF3E1;
  height: 90px;
  width: 100%;
  align-items: center;
  font-size: 14px;
  gap: 40px;
}

.nav-links > nav {
  width: 60%;
  display: flex;
  gap: 22px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

.nav-links > nav > a {
    color: black;
    text-decoration: none;
}

body {
  background-color: #ECECEC; 
}

.ss {
  width: 100%;
  height: 2.7rem;
  background-color: #ECECEC; 
  border: none;
}

.bag {
  display: flex;
  gap: 22px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

.bag > a{
    color: black;
    text-decoration: none;
}

.bag > .action {
  font-size: 1rem;
}

.search {
  width: 40%;
}

.im {
  max-height: 80%;
  max-width: 80%;
}

.imag {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nn {
  display: flex;
  justify-content: center;
}

.nn > img {
  height: 500px;
  width: 1400px;
}

.ano {
  display: flex;
  justify-content: center;
}
.ano > img {
    width: 1530px;
}



